@include font-face("f37ginger", "/fonts/f37ginger/f37ginger-regular-webfont");
@include font-face("f37ginger", "/fonts/f37ginger/f37ginger-bold-webfont", bold);
@include font-face("f37ginger", "/fonts/f37ginger/f37ginger-italic-webfont", normal, italic);
@include font-face("f37ginger", "/fonts/f37ginger/f37ginger-bolditalic-webfont", bolditalic);
@include font-face("f37ginger", "/fonts/f37ginger/f37ginger-thin-webfont", thin);
@include font-face("f37ginger", "/fonts/f37ginger/f37ginger-thinitalic-webfont", thinitalic);
@include font-face("f37ginger", "/fonts/f37ginger/f37ginger-light-webfont", light);
@include font-face("f37ginger", "/fonts/f37ginger/f37ginger-lightitalic-webfont", lightitalic);
body {
    color: $base-font-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font-family;
    line-height: $heading-line-height;
    margin: 0 0 $small-spacing;
}

p {
    margin: 0 0 $small-spacing;
}

a {
    color: $action-color;
    text-decoration: none;
    transition: color $base-duration $base-timing;
    &:active,
    &:focus,
    &:hover {
        color: shade($action-color, 25%);
    }
}

hr {
    border-bottom: $base-border;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: $base-spacing 0;
}

h1 {
    font-size: modular-scale(8);
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    font-size: modular-scale(5);
}

h3 {
    font-size: modular-scale(3);
}

h4 {
    font-size: modular-scale(2);
}

#notice {
    h4 {
        font-size: modular-scale(2);
        text-align: center;
        text-transform: uppercase;
    }
}

.about {
        text-align: right;

    h2 {
    }
    p {
        font-size: modular-scale(2);
        text-align: left;
    }
    @include mq( 'gamma') {
        p {
            // text-align: inherit;
        }
    }
}

.contact {
    text-align: right;
    h3 {
        font-size: modular-scale(4);
    }
    p {
        font-size: modular-scale(1);
    }
    input {
        font-size: modular-scale(1);
        text-align: right;
        ::placeholder {}
    }
}
