@import "bourbon";
@import "bourbon", "bitters/base";
@import "../bower_components/flexboxgrid-sass/flexboxgrid";


html, body {
    width: 100%;
    min-height: 100%;
    background-color: #E0E0D2;
}

section {
    
}

#faire-logo-wrapper {
    
}

#faire-logo {
    fill: #fefdeb;
}